:root {
    --font-size: 16px;
}

.font-small {
    --font-size: 12px;
}

.font-medium {
    --font-size: 16px;
}

.font-large {
    --font-size: 24px;
}

.font-size {
    font-size: var(--font-size);
}
