@use 'variables' as *;

// Globální box-sizing pro všechny elementy
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Základní styly pro HTML elementy
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $color-text; 
  background-color: $color-bg-neutral;
}

img {
  max-width: 100%;
  height: auto;
}

.siteContainer {
  max-width: calc(1600px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;
}
