// ==========================================
// BLOG - Články - stránka výpisu
// ==========================================

@use 'variables' as *;
@use 'typography' as *;

.blogList {
    margin-top: 1.5rem;
      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        list-style-type: none;
        align-items: stretch;
        margin: 0;
        padding: 0;
        
        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            background-color: white;
            border-radius: $border-radius;
            overflow: hidden;
            text-decoration: none;
            font-family: Trocchi;
            font-size: 26px;
            line-height: 1.2em;
            text-align: center;
            color: $color-secondary;
          a {
            
            
            img {
              display: block;
              margin: 0 0 1rem;
            }
          }
        }
      }
      
      &--4 {
        width: 100%;
        
        ul {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }



// ==========================================
// RECEPTY - Detail receptu
// ==========================================

.recepty {
    display: flex;
    gap: 2rem;
    
    &__left,
    &__right {
        flex: 1;
        min-width: 0;
    }
    
    &__left {
        width: 50%;
    }
    
    &__right {
        width: 50%;
    }
    
    @media (max-width: $breakpoint-md) {
        flex-direction: column;
        
        &__left,
        &__right {
            width: 100%;
        }
    }
}