// SCSS mixiny
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hoverArrowEffect {
  &::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 9px;
    margin-left: 8px;
    background-image: url('data:image/svg+xml,<svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5001 5.49999L12.3334 1.33332M16.5001 5.49999L12.3334 9.66666M16.5001 5.49999L1.5001 5.49999" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-size: cover;
    transition: width 0.3s ease, margin-left 0.3s ease;
  }
}